 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table {
            width : 100%;
            border-collapse: collapse;

        }
        .detail table th, .detail table td {
            border: solid 1px;
        }
    </style>
</head>
<body>

<h1>관리자 회원 관리 - 상세정보</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menue-admin">
</div>
<div class="detail">
    <table>
        <tbody>
            <tr>
                <th>아이디</th>
                <td th:text="${member.userId}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${member.userName}"></td>
            </tr>
            <tr>
                <th>연락처</th>
                <td th:text="${member.phone}"></td>
            </tr>
            <tr>
                <th>가입일</th>
                <td th:text="${member.regDt}"></td>
            </tr>
            <tr>
                <th>이메일 인증</th>
                <td th:text="${member.emailAuthYn}"></td>
            </tr>
            <tr>
                <th>관리자 여부</th>
                <td th:text="${member.adminYn }"></td>
            </tr>
            <tr>
                <th>회원 상태</th>
                <td>
                    <p>
                        현재상태 : <span th:text="${member.userStatus}"></span>
                    </p>
                    <form method="post" action="/admin/member/status.do">
                        <input type="hidden" name="userId" th:value="${member.userId}">
                        <select name="userStatus">
                            <option value="ACTIVE">활성</option>
                            <option value="INACTIVE">비활성</option>
                            <option value="REQUESTED">활성요청</option>
                        </select>
                        <button type="submit">상태 변경</button>
                    </form>
                </td>
            </tr>
            <tr>
                <th>비밀번호 초기화</th>
                <td>
                    <div>
                        <form method="post" action="/admin/member/password.do">
                            <input type="hidden" name="userId" th:value="${member.userId}">
                            <input type="text"  name="password">
                            <button type="submit">비밀번호 초기화</button>
                        </form>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    <a href="list.do">목록</a>
</div>

</body>
</html>